<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <form action="{{url_for('home')}}" method="post">
        <label for="product">Parameters to consider: </label>
        <input type="text" name="product" placeholder="enter TV/Newspaper/Radio"><br>
        <label for="test_data">Test data percentage: </label>
        <input type="text" name="test_data" placeholder="10 to 40"><br>
        <input type="submit" value="Determine"></button>
    </form>

    {% if not fig %}
        <p>Graph to be shown here</p>
    {% else %}
    {{fig | safe}}
    {%endif%}
</body>
</html>
